<div class="p-4">
  <div *ngIf="item | async as _item" class="relative">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Post</mat-card-title>
        <mat-card-subtitle>{{mode | async}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form id="post" [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Body</mat-label>
            <textarea matInput formControlName="body"></textarea>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button form="post" color="primary">Submit</button>
        <button mat-stroked-button routerLink="/posts">Cancel</button>
      </mat-card-actions>
    </mat-card>
    <div *ngIf="_item.status === 'request'"
         class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-25 rounded">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
